        <tr class="%{quality}">
          <td class="metric_name">%{metric_short_name}</td>
          <td class="data">%{base_data}</td>
          <td class="data">%{target_data}%{delta}</td>
        </tr>

