<html>
  <head>
    <style type="text/css">
      .metric_name {
        width: 20em;
        overflow: hidden;
        border-left: 1px solid;
        border-right: 1px solid;
      }
      .data {
        width: 10em;
        border-right: 1px solid;
      }
      .better {
        background-color: #40FF00;
      }
      .worse {
        background-color: #FE2E2E;
      }
      .neutral {
      }
      td {
          text-align: center;
          border-bottom: 1px solid;
      }
    </style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <td>#</td>
          <td>%{base_branch}</td>
          <td>%{target_branch}</td>
        </tr>
      </thead>
      <tbody>
%{tbody}
      </tbody>
    </table>
    <a href="%{url}">More details at sonar website...</a>
  </body>
</html>
